#swiper_wrap{
	width: 100%;
	height: 3rem;
	position: relative;
}
#swiper_wrap .swiper-wrapper{
	width: 100%;
	height: 100%;
}
#swiper_wrap .swiper-wrapper .swiper-slide{
	width: 100%;
	height: 100%;
}
#swiper_wrap .swiper-wrapper .swiper-slide img{
	width: 100%;
	height: 100%;
}
#swiper_wrap .swiper-wrapper .swiper-pagination{
	position: absolute;
	bottom: .01rem;
}
#swiper_wrap .swiper-pagination-bullet-active{
	background-color: red;
}